html{
    overflow-x: hidden;
    font-family: 'Agdasima', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    background-color: rgb(0, 0, 0);
}
hr{
    width: 100%;
    border: 2px solid rgb(165, 0, 0);
}

/* Inicio do hearder */
header{
    background-color: rgba(0, 0, 0, 0.634);
    position: fixed;
    width: 100%;
    height: 200px;
    z-index: 1;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu{
    display: none;
}

.open{
    display: block;
}

header nav { 
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 320px;
    margin-bottom: 80px;
    margin-top: 80px;
}

header nav ul {
    font-size: 25px;
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a{
    color: rgb(255, 255, 255);
}

li a:hover:not(.active) {
    border-bottom: 2px solid rgb(255, 0, 0);
}

.active{
    border-bottom: 2px solid rgb(138, 0, 0);
}

header aside {
    margin-top: -120px;
    width: 200px;
    margin-right: 20px;
    float: right;
    clear: both;
}

header aside a{
    margin-left: 10px;
}

.Logo{
    height: auto;
    width: 300px;
    float: left;
    margin-top: 20px;
}

/* Fim do estilo do header */

/* Comeco do estilo da main */
main{
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: 700px;
    background-image: url("/static/images/wallpaper.png");
    background-size: 90%;
}

.Formulario{
    box-sizing: border-box;
    display: flex;
    align-items: right;
    justify-content: center;
    min-height: 50vh;
    flex-direction: column;
    padding: 40px 45px;
    margin-left: 340px;
}

.Formulario h2{
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    margin-left: 170px;
    margin-bottom: 40px;
}

.Formulario form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.Formulario form label{
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 4px;
}

.Formulario form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5;
}

.Formulario form input:focus{
    border-radius: 16px;
}

.Formulario form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.Formulario form textarea:focus{
    border-radius: 16px;
}

.Formulario form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    transition: all 1s;
    margin-bottom: 20px;
}

.Formulario form button:hover{
   background: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   border-radius: 16px;
}
/* Sessao Jogos_Principais */

/* fim da main */

/* inicio da footer */
footer{
    position: absolute;
    top: 900px;
    height: 200px;
    width: 100%;
    background-color: rgba(95, 0, 0);
    bottom: 0%;
}

.botoes_link_contato{
    text-align: center;
    margin-top: 40px;
}

.botoes_link_contato a{
    margin-left:5px;
}

.copyright{
    padding-top: 40px;
    color: white;
}

hr {
    border: 2px solid rgb(165, 0, 0);
}