<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burnout Studio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima&family=Big+Shoulders+Display:wght@100&family=Big+Shoulders+Text:wght@100&family=Hahmlet:wght@100&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style_contato.css">
    <link rel="stylesheet" href="/static/css/response_contato.css">
</head>
<body>
    <header>
        <img class="Logo" src="/static/images/Logo_Placeholder.png" alt="Logo BurnoutStudios">

        <nav class="nav-bar">
            <ul class="main-menu">
                <li><a href="/">Início</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/jogos">Jogos</a></li>
                <li><a href="/contato" class="active">Contato</a></li>
            </ul>
            <div class="mobile-menu-icon">
                <button onclick="menuShow()">
                    <img class="icon" src="/static/image/icons8-menu-arredondado-48 (2).png" alt="menu-mobile">
                </button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/jogos">Jogos</a></li>
                <li><a href="/contato" class="active">Contato</a></li>
            </ul>
        </div>

        <aside>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="/static/images/icons8-twitter.svg" alt="icone twitter" class="icone">
            </a>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="/static/images/icons8-instagram.svg" alt="icone instagram" class="icone">
            </a>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="/static/images/icons8-linkedin.svg" alt="icone linkedin" class="icone">
            </a>
        </aside>

    </header>

    <main>
        <div  class="Formulario">
            <form action="https://api.staticforms.xyz/submit" method="post">
                <h2>Entre em contato</h2>
                <label> Nome</label>
                <input type="text" name="name" placeholder="Digite seu nome" autocomplete="off" required>

                <label>Email</label>
                <input type="email" name="email" placeholder="Digite seu e-mail" autocomplete="off" required>

                <label>
                    Mensagem
                </label>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Digite sua mensagem" required></textarea>
                <button type="submit">Enviar</button>

                <input type="hidden" name="accessKey" value="61a8dc89-fe5c-4d0f-ac7a-b62dcd998144">

                <!-- substituir por página de agradecimento -->
                <input type="hidden" name="redirectTo" value="http://127.0.0.1:5500/obrigado">
            </form>
        </div>
    </main>

    <footer class="footer">
        <!-- <h2>Contato</h2> -->
        
        <div class="botoes_link_contato">
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="/static/images/icons8-twitter.svg" alt="icone twitter" class="icone">
            </a>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="/static/images/icons8-instagram.svg" alt="icone instagram" class="icone">
            </a>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="/static/images/icons8-youtube.svg" alt="icone youtube" class="icone">
            </a>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="/static/images/icons8-linkedin.svg" alt="icone linkedin" class="icone">
            </a>

            <p class="copyright">© {{year}} Burnout Studios.</p>
        </div>
        
    </footer>
    <script src="/JS/index.js"></script>
</body>
</html>