<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burnout Studio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima&family=Big+Shoulders+Display:wght@100&family=Big+Shoulders+Text:wght@100&family=Hahmlet:wght@100&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/reset.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/response.css">
</head>
<body>
    <header>
        <img class="Logo" src="static/images/Logo_Placeholder.png" alt="Logo BurnoutStudios">

        <nav class="nav-bar">
            <ul class="main-menu">
                <li><a href="/" class="active">Início</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/jogos">Jogos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
            <div class="mobile-menu-icon">
                <button onclick="menuShow()">
                    <img class="icon" src="/static/images/icons8-menu-arredondado-48 (2).png" alt="menu-mobile">
                </button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li><a href="/" class="active">Início</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/jogos">Jogos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </div>

        <aside>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="static/images/icons8-twitter.svg" alt="icone twitter" class="icone">
            </a>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="static/images/icons8-instagram.svg" alt="icone instagram" class="icone">
            </a>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="static/images/icons8-linkedin.svg" alt="icone linkedin" class="icone">
            </a>
        </aside>

    </header>

    <main>
        <section class="Jogos_Principais">
            <div class="Jogo_Principal">
                <h1 class="GameTitle">Devil Heart</h1>
                <p class="Descricao">Baal é um Tiefling traumatizado pela morte de sua mãe de criação. O mesmo é um edge estranho lutando pela sua sobrevivência usando ódio e violência. O jogo vai ficar legal, confia.</p>
                <img class="Capy_Img" src="static/images/Placeholder_BackGame.png" alt="CapyJumper">
            </div>
            <!-- <div class="botoes_jogos">
                <button class="botao selecionado"></button>
                <button class="botao" ></button>
            </div> -->
        </section>
        <hr>
        <section class="Sobre_Nos">
            <div>
                <h2>
                    Sobre nós
                </h2>
                <p>
                    Somos um casal de estranhos que gosta de joguinho e coisas estranhas das trevas. O game studio mais incrível que você já viu, composto por 0 jogos, um programador, uma artista e um sonho, conseguir um emprego, ganhar na loteria ou viralizar com algum jogo legal...talvez 3 sonhos, mas se qualquer 1 dos 3 se concretizar tamo junto, só queremos dinheiro.
                    É isso aí, vai julgar mesmo ? Vai dizer que não quer dinheiro ? Ah me poupe, se não quer, manda um pix aqui: 51020689897. Tamo junto.
                </p>
            </div>
        </section>
        <hr>
        <section class="Contato">
            <div>
                <h2>
                    Contato
                </h2>
                <a class="contrate" href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank"><p>Nos <br> contrate</p></a>
                <a class="fale" href="/contato" target="_blank"><p>Fale <br> Conosco</p></a>
            </div>
        </section>
    </main>

    <footer class="footer">
        <!-- <h2>Contato</h2> -->
        
        <div class="botoes_link_contato">
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="static/images/icons8-twitter.svg" alt="icone twitter" class="icone">
            </a>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="static/images/icons8-instagram.svg" alt="icone instagram" class="icone">
            </a>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="static/images/icons8-youtube.svg" alt="icone youtube" class="icone">
            </a>
            <a href="https://www.linkedin.com/in/elthon-douglas-silva-bicudo/" target="_blank">
                <img src="static/images/icons8-linkedin.svg" alt="icone linkedin" class="icone">
            </a>

            <p class="copyright">© {{year}} Burnout Studios.</p>
        </div>
        
    </footer>
    <script src="/JS/index.js"></script>
</body>
</html>